<md-toolbar color="primary">
	<span>
		<button md-button>
			<md-icon>dashboard</md-icon>
			{{title}}
		</button>
	</span>

	<span style="flex: 1 1 auto;"></span>

	<span *ngIf="isLoggedIn">
		<button md-icon-button [mdMenuTriggerFor]="appMenu">
			<md-icon>apps</md-icon>
		</button>
		<md-menu #appMenu="mdMenu" [overlapTrigger]="false">
			<button md-menu-item
					*ngFor="let item of items; let i = index"
					fxFill
					[routerLink]="item.link">
				<md-icon>{{item.icon}}</md-icon>
				<span>{{item.name}}</span>
			</button>
		</md-menu>
	</span>

	<span *ngIf="isLoggedIn">
		<button md-icon-button [mdMenuTriggerFor]="profileMenu">
			<md-icon>person_outline</md-icon>
		</button>
		<md-menu #profileMenu="mdMenu" [overlapTrigger]="false">
			<button md-menu-item>
				<md-icon>person</md-icon>
				<span>{{username}}</span>
			</button>
			<button md-menu-item (click)="logout()">
				<md-icon>exit_to_app</md-icon>
				<span>Logout</span>
			</button>
		</md-menu>
	</span>
</md-toolbar>