<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFill>

	<form fxLayout="row"
	      fxLayoutAlign="space-around stretch"
	      fxFill
	      (ngSubmit)="search()">

		<mat-form-field class="searchBar">
			<input matInput
			       placeholder="What would you like to search for?"
			       name="searchText"
			       [(ngModel)]="searchText">
		</mat-form-field>

		<div fxLayoutAlign="space-around center">
			<button mat-raised-button
			        color="primary">Search</button>
		</div>

		<div *ngIf="canClear"
		     fxLayoutAlign="space-around center">
			<button mat-mini-fab
			        color="primary"
			        (click)="clear()">Clear</button>
		</div>
	</form>

	<div fxLayout="row"
	     fxLayoutAlign="start center"
	     fxFill>
	</div>

	<div fxLayout="row"
	     fxLayoutAlign="space-between start"
	     fxFill>

		<div fxLayout="column"
		     fxLayoutAlign="start start"
		     fxFlex="25">

			<cs-facet *ngFor="let facet of facets; let i = index"
			          [model]="facet"
			          (apply)="applyFacet($event)"
			          fxFill>
			</cs-facet>
		</div>

		<div fxLayout="column"
		     fxLayoutAlign="start start"
		     fxFlex="80">
			<mat-card *ngIf="results"
			          fxFill>
				<mat-card-header>
					<mat-card-title>
						{{resultsCount}} Spells found.
					</mat-card-title>
				</mat-card-header>

				<mat-card-content>
					<mat-chip-list>
						<mat-chip *ngFor="let chip of chips; let i = index">
							{{chip.Name}}|{{chip.Value}}
							<button mat-mini-fab
							        color="primary"
							        (click)="clearSearchChip(chip)">X</button>
						</mat-chip>
					</mat-chip-list>
				</mat-card-content>
			</mat-card>

			<app-spell *ngFor="let result of results; let i = index"
			           [spell]="result"
			           fxFill>
			</app-spell>
		</div>
	</div>
</div>