<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFill>

	<form fxLayout="row"
	      fxLayoutAlign="space-around stretch"
	      fxFill
	      (ngSubmit)="search()">

		<mat-form-field class="searchBar">
			<input matInput
			       placeholder="What would you like to search for?"
			       name="searchText"
			       [(ngModel)]="searchText">
		</mat-form-field>

		<div fxLayoutAlign="space-around center">
			<button mat-raised-button
			        color="primary">Search</button>
		</div>
	</form>

	<div fxLayout="row"
	     fxLayoutAlign="space-between start"
	     fxFill>

		<div fxLayout="column"
		     fxLayoutAlign="start start"
		     fxFlex="20">

			<cs-facet *ngFor="let facet of facets; let i = index"
			          [model]="facet"
			          (apply)="applyFacet($event)"
			          fxFill>
			</cs-facet>
		</div>

		<div fxLayout="column"
		     fxLayoutAlign="start start"
		     fxFlex="80">
			<mat-card *ngIf="results"
			          fxFill>
				<mat-card-content>
					{{resultsCount}} Spells found.
				</mat-card-content>
			</mat-card>

			<mat-card *ngFor="let result of results; let i = index"
			          fxFill>
				<mat-card-header>
					<div mat-card-avatar>
						<mat-icon [svgIcon]="getIcon(result.School)"></mat-icon>
					</div>
					<mat-card-title>{{result.Name}}</mat-card-title>
					<mat-card-subtitle>{{getSchool(result.School)}} - {{getSubSchool(result.SubSchool)}}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					{{result.Description}}
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>