<div fxLayout="column"
     fxLayoutAlign="space-around stretch">
	<mat-toolbar color="primary">
		<span>Characters</span>
		<span fxFlex></span>
		<button mat-mini-fab
		        color="accent"
		        [routerLink]="'/new-character'">
			<mat-icon>add</mat-icon>
		</button>
	</mat-toolbar>

	<div *ngFor="let character of characters; let i = index">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar>
					<mat-icon [svgIcon]="character.icon"></mat-icon>
				</div>
				<mat-card-title>{{character.name}}</mat-card-title>
				<mat-card-subtitle>Lvl {{character.level}} {{character.class}}</mat-card-subtitle>
				<span fxFlex></span>
				<button mat-mini-fab
				        color="accent"
				        (click)="goTo(character)">
					<mat-icon>arrow_forward</mat-icon>
				</button>
			</mat-card-header>
		</mat-card>
	</div>
</div>