<mat-card>
	<mat-card-header fxLayout="row"
	                 fxLayoutAlign="space-between center">
		<mat-card-title>Speeds</mat-card-title>
	</mat-card-header>
	<mat-card-content fxLayout="row"
	                  fxLayoutAlign="space-between center"
	                  fsFill>

		<span fxFlex="5"></span>

		<cs-field [model]="baseSpeed"
		          label="Base Speed"
		          fxFlex>
		</cs-field>

		<span fxFlex="5"></span>

		<cs-field [model]="speed"
		          label="Speed"
		          fxFlex>
		</cs-field>

		<span fxFlex="5"></span>

	</mat-card-content>
</mat-card>