<form #appLogin="ngForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start center">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Login Component</mat-card-title>
		</mat-card-header>
		<img width="300" src="https://paizo.com/image/content/Logos/PathfinderRPGLogo_500.jpeg">

		<mat-card-content fxLayout="column" fxLayoutAlign="start center">
			<div fxLayout="row" fxFill fxLayoutAlign="center start">
				<mat-input-container>
					<input matInput id="username" name="username" required [(ngModel)]="model.username" placeholder="Username or email">
				</mat-input-container>
			</div>
			<div fxLayout="row" fxFill fxLayoutAlign="center start">
				<mat-input-container>
					<input matInput id="password" name="password" required [(ngModel)]="model.password" type="password" placeholder="Password">
				</mat-input-container>
			</div>

			<div fxLayout="row" fxFill fxLayoutAlign="center start">
				Model: {{model | json}}
			</div>

			<div fxLayout="row" fxFill fxLayoutAlign="center start">
				Token: {{Token | json}}
			</div>
		</mat-card-content>

		<mat-card-actions fxLayout="row" fxLayoutAlign="center center">
			<button mat-raised-button type="submit">Login</button>
			<!--<button mat-raised-button (click)="register()">Register</button>-->
		</mat-card-actions>
	</mat-card>